@page
@model MegaDesk_2._0.Pages.Desks.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Desk.name" class="control-label"></label>
                <input asp-for="Desk.name" class="form-control" />
                <span asp-validation-for="Desk.name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.drawers" class="control-label"></label>
                <select asp-for="Desk.drawers" class="form-control">
                    <option value="">Select Drawers</option>
                    <option value="1">1 Drawer</option>
                    <option value="2">2 Drawers</option>
                    <option value="3">3 Drawers</option>
                    <option value="4">4 Drawers</option>
                    <option value="5">5 Drawers</option>
                    <option value="6">6 Drawers</option>
                    <option value="7">7 Drawers</option>
                </select>
                <span asp-validation-for="Desk.drawers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.material" class="control-label"></label>
                <select asp-for="Desk.material" class="form-control">
                    <option value="">Select Material</option>
                    <option value="oak">Oak</option>
                    <option value="pine">Pine</option>
                    <option value="rosewood">RoseWood</option>
                    <option value="laminate">Laminate</option>
                    <option value="veneer">Veneer</option>
                </select>
                <span asp-validation-for="Desk.material" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.height" class="control-label"></label>
                <input asp-for="Desk.height" class="form-control" />
                <span asp-validation-for="Desk.height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.width" class="control-label"></label>
                <input asp-for="Desk.width" class="form-control" />
                <span asp-validation-for="Desk.width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.rushOrder" class="control-label"></label>
                <select asp-for="Desk.rushOrder" class="form-control">
                    <option value="">Default - 14 days</option>
                    <option value="3">3 Days</option>
                    <option value="5">5 Days</option>
                    <option value="7">7 Days</option>
                 </select>
                <span asp-validation-for="Desk.rushOrder" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="back-to-list" asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
