@page
@model MegaDesk_2._0.Pages.Desks.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Desk</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Desk.Id" />
            <div class="form-group">
                <label asp-for="Desk.name" class="control-label"></label>
                <input asp-for="Desk.name" class="form-control" />
                <span asp-validation-for="Desk.name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.drawers" class="control-label"></label>
                <input asp-for="Desk.drawers" class="form-control" />
                <span asp-validation-for="Desk.drawers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.material" class="control-label"></label>
                <input asp-for="Desk.material" class="form-control" />
                <span asp-validation-for="Desk.material" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.price" class="control-label"></label>
                <input asp-for="Desk.price" class="form-control" />
                <span asp-validation-for="Desk.price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.height" class="control-label"></label>
                <input asp-for="Desk.height" class="form-control" />
                <span asp-validation-for="Desk.height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.width" class="control-label"></label>
                <input asp-for="Desk.width" class="form-control" />
                <span asp-validation-for="Desk.width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.rushOrder" class="control-label"></label>
                <input asp-for="Desk.rushOrder" class="form-control" />
                <span asp-validation-for="Desk.rushOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
