@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MegaDesk 2.0</h1>
    <p style="height: 30px"></p>
    <form method="get" asp-page="/Desks/Create">
        <button class="index-button" type="submit">Create a Desk</button>
    </form>
    <p style="height: 30px"></p>
    <form method="get" asp-page="/Desks/Index">
        <button class="index-button" type="submit">Desks Info</button>
    </form>

</div>
